<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %>
    	<BR><BR>
    		Try this URL: <BR>
    		<a href="http://127.0.0.1:3000/tickers/v1/bottom/54e4f3932861e36744edafbf">http://127.0.0.1:3000/tickers/v1/bottom/54e4f3932861e36744edafbf</href>

    </p>
  </body>
</html>
